:host {
  display: block;
  background-color: var(--color-neutral-850);
}

footer {
  background-color: var(--color-neutral-850);
}

#warning {
  background-color: var(--color-neutral-850);
  padding: 2px 0;
  text-align: justify;
  text-justify: inter-ideograph;
  overflow: hidden;
}

#warning a {
  color: #cccccc;
  display: inline-block;
  text-decoration: underline;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#warning img {
  width: auto;
}

#warning p {
  font-size: 15px;
  line-height: 1.6em;
  color: #fff;
  max-width: 970px;
  margin: 0 auto;
}

#warning p a:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  text-decoration: underline;
}

.footer_box {
  margin: 0px auto;
  padding: 10px;
  max-width: 1000px;
  overflow: hidden;
}

.footer_l {
  max-width: 970px;
  float: left;
}

.footer_r {
  width: 200px;
  float: right;
}

.footer__warning a {
  display: inline;
  color: #cccccc;
  text-decoration: underline;
}

.footer__warning a:hover {
  display: inline;
  color: #cccccc;
  text-decoration: underline;
  opacity: 0.7;
}

.footer__warning p {
  margin-bottom: 5px;
}

.footer__warning ul {
  list-style-type: disc;
  padding-left: 40px;
}

.footer__warning ul li {
  font-family: Noto Sans TC, Microsoft JhengHei, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: 400;
}

.footer__warning ul li span {
  font-family: Noto Sans TC, Microsoft JhengHei, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: 400;
}

.footer__warning ul li ul {
  list-style-type: circle;
  padding-left: 40px;
}

.footer_container {
  width: auto;
  background-color: var(--color-neutral-850);
  padding: 30px 30px 100px;
}

.footer__warning {
  max-width: 1200px;
  margin: auto;
  letter-spacing: .8px;
  color: #fff;
  line-height: 1.5;
  font-size: 15px;
}

.textGold {
  color: #FAA634;
}
